<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Game Application </a>
    <div class="navbar">
      <div class="navbar-nav">
        <a class="nav-link active" href="/">
          Home <span class="sr-only"></span>
        </a>
        <a class="nav-link" href="allgames"> All Games</a>
        <a class="nav-link" href="gameratings"> Game Ratings</a>
        <a class="nav-link" href="nintendoSwitch"> Nintendo Switch</a>
        <a class="nav-link" href="playstation"> PS4</a>
        <a class="nav-link" href="psVita"> PS Vita</a>
        <a class="nav-link" href="Xbox"> Xbox</a>
        <a class="nav-link" href="Nintendo3DS"> Nintendo 3DS</a>
        <a class="nav-link" href="NintendoWiiU"> Nintendo Wii U</a>

      
        <% if(user) { %>
        <a class="nav-link" href="create-game"> Add A Game </a>
        <a class="nav-link" href="logout"> <%= user.email %> (Logout) </a> <%
        }%> <% if(!user) { %>
        <a class="nav-link" href="login"> Login </a>
        <a class="nav-link" href="register"> Register </a>
        <% } %>
      </div>
    </div>
  </nav>
</header>

